
img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style-type: none;
}

.images-block {
    display: flex;
    /*max-width: 33%;*/
}

.arrow {
    padding: 50px;
    display: block;
    width: 327px;
}

.navigation-menu {
    background-color: #373c3f;
    display: flex;
    height: 174px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

#navigation {
    padding: 15px;
}

.menu-icon {
    padding: 15px;
    background-color: black;
}

.navigation-menu a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    text-decoration: none;
    color: inherit;
}